.App {
  text-align: center;
  /* justify-content: center; */
  /* background: yellow; */
  padding: 10px;
}

.StandardPadding {
  padding: 10px;
}

.HeaderBar {
  height: 3rem;
  overflow: hidden;
}

.HeaderSocial {
  float: right;
}

.HeaderTitle {
  float: left;
  height: 3rem;
  text-align: left;
  vertical-align: middle;
  line-height: 3rem;
  padding-left: 0.7rem;
}

.SocialLinks {
  padding-right: 0.7rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

.SocialButton {
  height: 2rem;
  width: 2rem;
  margin-left: 0.7rem;
}

.SocialButton:hover {
  filter: brightness(0.8);
  transition: filter 0.1s;
}

.HeaderLarge {
  position: relative;
  width: 100%;
  text-align: center;
}

.HeaderLargeBackground {
  position: absolute;
  top: -10px;
  left: -50%;
  right: -50%;
  bottom: -6rem;
  background-image: linear-gradient(to right, #CA00D2, #dc268d);
  background-repeat: no-repeat;
  background-size: cover;
  /* background-size: 50%; */
  background-position: 50% 0%;
  border-bottom-left-radius: 50%;
  border-bottom-right-radius: 50%;
  z-index: -1;
}


.PortfolioItem {
  text-align: center;
  margin: 0 auto;
  /* Following line causes floating elements to take up space in the div: */
  overflow: hidden;
  border-color: red;
  border-width: 3px;
  margin-top: 0.5rem;
  margin-bottom: 1.5rem;
  max-width: 1000px;
}

.PortfolioItem-Desc {
  float: left;
  text-align: left;
  width: 53.5%;
}

.PortfolioItem-Image {
  float: right;
  width: 45%;
}

.PortfolioImage {
  max-height: 25rem;
  max-width: 100%;
}

@media screen and (min-width: 1001px) {
  .PortfolioItem-Desc {
    padding-left: 0.8rem;
    /* This is to balance the white space to the edge of the image beside this text section */
  }
}

@media screen and (max-width: 1000px) {
  .PortfolioItem-Desc {
    width: 100%;
    padding-bottom: 1.5rem;
    padding-left: 0rem;
  }

  .PortfolioItem-Image {
    width: 100%;
  }

  .PortfolioItem {
    max-width: 800px;
  }
}



.FooterBar {
  position: relative;
  width: 100%;
  text-align: left;
  padding: 5px;
  padding-top: 15px;
}

.FooterBackground {
  position: absolute;
  top: 0%;
  left: -10px;
  right: -10px;
  bottom: -10px;
  background-image: linear-gradient(to right, #dc268d, #de03e7);
  z-index: -1;
}



.Text-MainTitle {
  font-family: graphik,-apple-system,helvetica,futura,sans-serif;
  font-size: 4rem;
  font-weight: lighter;
  color: white;
  margin-left: 4rem;
  margin-right: 4rem;
}

.Text-Header {
  font-family: graphik,-apple-system,helvetica,futura,sans-serif;
  font-size: 1.2rem;
  line-height: 1.6rem;
  font-weight: 200;
  color: white;
  max-width: 50rem;
  margin: auto;
}

.Text-Header-MiniTitle {
  font-family: graphik,-apple-system,helvetica,futura,sans-serif;
  font-size: 1.2rem;
  font-weight: 300;
  color: white;
  max-width: 50rem;
  margin: auto;
}

.Text-SubTitle {
  font-family: graphik,-apple-system,helvetica,futura,sans-serif;
  font-size: 2.5rem;
  font-weight: 100;
  color: #313639;
  margin-top: 0.8rem;
  margin-bottom: 0.8rem;
}

.Text-Paragraph {
  font-family: graphik,-apple-system,helvetica,futura,sans-serif;
  font-size: 1rem;
  line-height: 1.33rem;
  font-weight: 300;
  color: #313639;
}

.Text-Paragraph-Link {
  font-family: graphik,-apple-system,helvetica,futura,sans-serif;
  font-size: 1rem;
  line-height: 1.33rem;
  font-weight: 300;
  color: #313639;
  text-decoration: underline;
  /* border-style: solid;
  border-width: 1px;
  padding: 2px; */
  margin-right: 0.5rem;
}

.Text-Footer {
  font-family: graphik,-apple-system,helvetica,futura,sans-serif;
  font-size: 0.8rem;
  color: white;
}

.Text-Footer-Link {
  font-family: graphik,-apple-system,helvetica,futura,sans-serif;
  font-size: 0.8rem;
  color: white;
  text-decoration: underline;
}

.LRmargin1rem {
  margin-left: 1rem;
  margin-right: 1rem;
}
